<div class="border-seccion">
  <h4 id="list-item-2">Hard & Soft Skills</h4>
  <hr />
  <h5 class="habilidad-sector">Front-End</h5>
  <h6 class="habilidad-nombre">HTML</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h6 class="habilidad-nombre">CSS</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type= "info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h6 class="habilidad-nombre">JavaScript</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h6 class="habilidad-nombre">Bootstrap</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h6 class="habilidad-nombre">Angular</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h5 class="habilidad-sector">Back-End</h5>
  <h6 class="habilidad-nombre">Java / Spring Boot</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h6 class="habilidad-nombre">MySQL</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h5 class="habilidad-sector">Soft Skills</h5>
  <h6 class="habilidad-nombre">Metodologías de Trabajo</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h6 class="habilidad-nombre">Learning Agility</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
  <h6 class="habilidad-nombre">Design Thinking</h6>
  <p>
    <ngb-progressbar
      [value]="10"
      type="info"
      [striped]="true"
      [animated]="true"
    ></ngb-progressbar>
  </p>
</div>
