<div class="border-seccion">
  <h4 id="list-item-4">Contacto</h4>
  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Nombre</label>
    <input
      type="text"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="Nombre"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlItanput1" class="form-label">E-mail</label>
    <input
      type="email"
      class="form-control"
      id="exampleFormControlInput1"
      placeholder="name@example.com"
    />
  </div>
  <div class="mb-3">
    <label for="exampleFormControlTextarea1" class="form-label">Mensaje</label>
    <textarea
      class="form-control"
      id="exampleFormControlTextarea1"
      placeholder="¡Dejame un mensaje!"
      rows="3"
    ></textarea>
    <div class="col-auto">
      <button type="submit" class="btn btn-secondary">Enviar</button>
    </div>
  </div>
</div>
