<div class = "padding-top">
<div class="border-seccion">
  <h4 id="list-item-1">Sobre mí</h4>
  <hr />

  <p>
    ¡Hola! Soy Emilia, Web Full-Stack Developer y Óptica Técnica. <br/>
    Después de 10 años trabajando en el sector de la salud, como óptica, donde conocí grandes profesionales, amigos y, pude crecer personal y profesionalmente, decidí cambiar mi rumbo profesional, por un area en la que siempre estuve interesada. <br>
    Decidí cambiar mi rumbo profesional e inicie mi formación como Web Full-Stack Developer, con el objetivo de crecer profesionalmente en el area. <br>
    Me encuentro en constante formación y
    busco llevar lo aprendido a la práctica.<br />
    Me gustaría formar parte de proyectos y equipos de trabajo que me permitan
    desarrollarme tanto personal como profesionalmente y mejorar mis habilidades.
  </p>
  
</div>
</div>
