<div class="border-seccion">
  <h4 id="list-item-3">Sobre Mi</h4>

  <div class="col-lg-6">
    <button type="button" class="btn btn-dark" routerLink="/newsobremi" *ngIf="isLogged">
      Agregar nueva descripción
    </button>
  </div>

  <hr />

  <div *ngFor="let SobreMi of sobreMi">
    <div class="card text-center">
      <div class="card-body">
        <p class="card-text">{{ SobreMi.descripcionSM }}</p>
      </div>

    <div *ngIf="isLogged">
      <button class="btn btn-light" routerLink="/editproy/{{SobreMi.id}}">
        <i class="fa-regular fa-pen-to-square"></i> EDITAR
      </button>
    </div>

    <div *ngIf="isLogged">
      <button class="btn btn-danger" (click)="delete(SobreMi.id)">
        <i class="fa-solid fa-trash"></i> BORRAR
      </button>
    </div>
  </div>
</div>